.modal {
	background-color: hsl(0, 0%, 80%);
	border-radius: 2%;
	box-shadow: 3px 3px 10px black;
	display: flex;
	flex-direction: column;
	height: 30vh;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50vw;
}

.modalFog {
	background-color: rgba(0, 0, 0, 0.76);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.wrapContent {
	align-content: center;
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.wrapBtn {
	display: flex;
	justify-content: space-around;
}

.modalContent {
	align-self: center;
	font-size: 2rem;
	padding: 1rem;
}

.noBtn,
.okBtn {
	background-color: red;
	border-radius: 2%;
	margin: 0.5rem;
	outline: solid 1px black;
	cursor: pointer;
	padding: 1rem;
}

.okBtn {
	background-color: seagreen;
}

.noBtn:hover,
.noBtn:focus-within,
.okBtn:hover,
.okBtn:focus-within {
	outline: solid 3px black;
	opacity: 0.8;
}

form {
	flex-grow: 1;
}

.formControl {
	display: flex;
	flex-direction: column;
}

.formControl>* {
	margin: 0 0.5rem;
	padding: 0.5rem 1.5rem;
	text-align: center;
}