* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #bfbfbf;
	height: 100vh;
	position: relative;
}

.btn {
	background-color: rgba(17, 109, 21, 0.856);
	cursor: pointer;
	display: inline-block;
	margin: auto;
	outline: solid black 2px;
	padding: 1rem;
	text-align: center;
	width: fit-content;
}

.btnwrap {
	margin: 2rem auto;
}

.element {
	display: flex;
	flex-direction: column;
}