.delBtn {
	background-color: rgba(163, 61, 21, 0.856);
	color: #fff;
	cursor: pointer;
}

.editBtn {
	background-color: rgba(17, 38, 104, 0.856);
	color: #fff;
	cursor: pointer;
}

.wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

table {
	align-self: center;
}

table td {
	border: solid black 2px;
	padding: 0.3rem;
}